modules = ["nodejs-20", "web", "bash"]

[[artifacts]]
id = "artifacts/shadow-leveling"

[[artifacts]]
id = "artifacts/api-server"

[[artifacts]]
id = "artifacts/mockup-sandbox"

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "PORT=8080 pnpm --filter @workspace/api-server run dev & PORT=3000 BASE_PATH=/ pnpm --filter @workspace/shadow-leveling run dev"
waitForPort = 3000

[workflows.workflow.metadata]
outputType = "webview"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
VAPID_PUBLIC_KEY = "BPqBrlyWCjJLeoQO2rPsr0bamWWbzo588tk-42ORNF-Dk861JYoBYcPVp-MRxrKaqdT-oqSxzRU995NbTSt0Ark"
VAPID_PRIVATE_KEY = "zYybn5a3Nuul0MsgKyn-myC6ofHTlBk9RCsUvGDHapk"
VAPID_SUBJECT = "mailto:admin@shadow-leveling.app"

[[ports]]
localPort = 3000
externalPort = 80

[[ports]]
localPort = 8080
externalPort = 8080
